.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.mainContent {
  display: flex;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 200px;
  padding: 10px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media(max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  display: flex;
  min-height: calc(100vh - 130px);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px;
}